<% include header %>

<div class="container">
  <div class="well row">
    <div class="col-md-12">
      <button type="button" class="btn btn-danger btn-lg btn-block" id="deploy">Deploy</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 deploy-count-message">
      <h3>You've deployed <span class="deploy-count">0</span> times</h3>
    </div>
  </div>
</div><!-- /.container -->

<% include footer %>
