<% include header %>

<div class="container">
  <div class="well row">
    <div class="col-md-12">
      <input type="hidden" value="<%= token %>" id="csrf">
      <button type="button" class="btn btn-danger btn-lg btn-block" id="deploy">Deploy</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 deploy-count-message">
      <h3>You've deployed <span id="deploy-count"><%= deployCount %></span> times</h3>
    </div>
  </div>
</div><!-- /.container -->

<% include footer %>
