<% include header %>

<div class="container">
  <div class="row center" id="deploy-count-message">
    <div class="col-md-4">
      <h3>
        <span id="action">Gained</span> <span id="user-change">0</span> users
      </h3>
    </div>
    <div class="col-md-4">
      <h3>
        <span id="deploy-speed">0</span> deploys per second
      </h3>
    </div>
    <div class="col-md-4">
      <h3>
        <span id="user-count"><%= userCount %></span> users after <span id="deploy-count"><%= deployCount %></span> deploys
      </h3>
    </div>
  </div>
  <div class="well row">
    <div class="col-md-12">
      <input type="hidden" value="<%= token %>" id="csrf">
      <button type="button" class="btn btn-primary btn-lg btn-block" id="deploy">Deploy</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="text-align: left">
      <h5>
        <span id="total-users"><%= totalUsers %></span> total users
      </h5>
    </div>
    <div class="col-md-6" style="text-align: right">
      <h5><a href="https://github.com/jirwin/deploy-clicker">Deploy Clicker</a> By <a href="https://github.com/jirwin">Justin Gallardo</a></h5>
    </div>
  </div>
</div><!-- /.container -->

<% include footer %>
